:root {
    --background-color: #FFF; /*top-line background color*/
    --text-color: #2E2F42; /*top-line menu nav*/



    --section-header-title-color: #2E2F42;
    --section-title-color: #2E2F42;
    --section-feature-content-color: #434455;
    --team-card-color: #2E2F42;
    --team-card-content: #434455;
    --top-line: #2E2F42
}


.footer{
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
}

